<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="asyncdelegatecommand-wpf.AsyncDelegateCommand" version="1.0.3" targetFramework="net451" />
  <package id="Caliburn.Micro.EventAggregator" version="1.5.2" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.0.1-ALPHA027" targetFramework="net451" />
</packages>